<!DOCTYPE html>
<html>
  <head>
    <title>IiBnB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.splashURL = "<%= image_url('unsplash1.jpg') %>"; // change this
      window.logo_url = "<%= image_url('iibi.png') %>";
      window.calendar_url = "<%= image_url('c1.png') %>";
      window.booking_url = "<%= image_url('b1.png') %>"
      window.map_url = "<%= image_url('map1.png') %>"
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
